* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 30px;
}

.toggle-trigger {
  text-decoration: none;
  display: block;
  border: 1px solid #666;
  text-align: center;
  width: 70%;
  padding: 20px;
  color: #666;
  font-weight: bold;
}

.accordion-wrapper {
  width: 70%;
  height: 0;
  overflow: hidden;
  transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);

  .accordion {
    list-style: none;
    border: 1px solid #666;
    margin-top: -1px;

    & > li {
      border-bottom: 1px solid #666;
      text-align: center;
      padding: 20px;
      color: #666;
    }
  }
}